.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .container {
    width: 100%;
}

.login .container .form {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.login .container .form h1 {
    font-size: 2rem;
    margin-bottom: .3125rem;
    margin-top: 0;
}

.login .container .form .line {
    height: 3px;
    width: 60px;
    background-color: var(--main-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.login .container .form form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.login .container .form form .input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login .container .form form .input label {
    font-size: .9375rem;
}

.login .container .form form .input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.login .error {
    color: red;
    margin: 0;
    font-size: .875rem;
}

.login .to-register {
    display: flex;
    gap: 1.25rem;
    font-size: .9375rem;
}

.login .to-register a {
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
}

.login .container .form form button {
    padding: 10px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}