.home .container {
    padding: 60px 20px;
}

.home .title {
    margin-bottom: 2.5rem;
}

.home .title h1 {
    margin-bottom: .3125rem;
    margin-top: 0;
    font-size: 1.625rem;
    color: #063027;
}

.home .title .line {
    height: 3px;
    width: 80px;
    background-color: var(--main-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.home .books {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.home .container .bottom {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.375rem;
    text-align: center;
}


.home .container .bottom h2 {
    margin-bottom: 0;
    font-size: 2rem;
}

.home .container .bottom p {
    font-weight: 500;
    font-size: 1rem;
    margin: .625rem;
}

.home .container .bottom .suggest-book button {
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    font-weight: semibold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media (max-width: 1190px) {
    
    .home .books {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 500px) {
    
    .home .container .bottom h2 {
        font-size: 1.5625rem;
    }

    .home .title h1 {
        font-size: 1.25rem;
    }
}