.searchBar {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.searchBar form {
    display: flex;
    align-items: center;
    padding: 4px 5px;
    width: 100%;
}

.searchBar form input {
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
}

.searchBar form input:focus {
    border: none;
    outline: none;
}

.searchBar form button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: unset;
}

.searchBar form button {
    border: none !important;
}