.dark-mode {
    background-color: black;
    color: white;
}

.header {
    height: 80px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header .container .logo {
    font-size: 1.25rem;
    color: var(--black-color);
    font-weight: 700;
    cursor: pointer;
}

.header .container .right-header .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.all-books button,
.header .container .logout,
.my-books button,
.suggest-book button {
    padding: 12px 12px;
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 0.875rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

/* .my-books button {
    padding: 10px ;
} */

.header .container .logout {
    padding: 11px;
}

.header .search-sm {
    padding: 0 20px;
    max-width: 100%;
    width: fit-content;
    display: none;
}

.header .container .right-header .burger-icon {
    cursor: pointer;
    display: none;
}

.header .container .right-header .absolute-buttons {
    position: fixed;
    top: 0;
    left: -100%;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    transition: left 0.2s linear;
    -webkit-transition: left 0.2s linear;
    -moz-transition: left 0.2s linear;
    -ms-transition: left 0.2s linear;
    -o-transition: left 0.2s linear;
    z-index: 999;
}

.header .container .right-header .absolute-buttons .close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .container .right-header .absolute-buttons * {
    font-size: 1.375rem;
    border: none;
}

.header .container .right-header .absolute-buttons.show {
    left: 0;
}

/* SWITCH */

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: 0.4s;
    border-radius: 30px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: 0.4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}
/* .switch:hover */
.sun svg {
    animation: rotate 15s linear infinite;
}
@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* .switch:hover */
.moon svg {
    animation: tilt 5s linear infinite;
}
@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
.input:checked + .slider {
    background-color: #183153;
}
.input:focus + .slider {
    box-shadow: 0 0 1px #183153;
}
.input:checked + .slider:before {
    transform: translateX(30px);
}
@media (max-width: 750px) {

    .header .container .right-header .buttons {
        display: none;
    }

    .header .container .right-header .burger-icon {
        display: block;
    }
}
@media (max-width: 800px) {

    .suggest-book button {
        padding: 12px 16px;
    }

    .header .container .searchBar {
        width: 300px;
    }
}
@media (max-width: 1140px) {

    .header .container .searchBar {
        display: none;
    }

    .header .search-sm {
        display: block;
        margin-bottom: 60px;
    }

    .all-books button,
    .suggest-book button,
    .my-books button {
        padding: 10px;
    }

    .header .container .logout {
        padding: 9px 8px;
    }
}
